body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: white;
    background-color:#537fb3;
    text-align: center;
    padding: 5px;
}


.card{
    background-color:#7f96c7;
}

input {
    max-width: 100%;
    font-size: 16px;
    margin-left: -10px;
}
i {
 color: white;
}

#searchBtn {
    background-color: cornflowerblue;
    border-radius: 5px;
    border: none;
    max-width: 100%;
    padding: 5px;
}

#clear{
    margin: 5px auto;
    border-radius: 20px;
    color: whitesmoke;
    background-color: cornflowerblue;
}

ul {
    list-style-type: none;
    margin-bottom: 0px;
}

li {
    background: rgb(166, 205, 241);
    font-size: 18px;
    border: 1px solid rgb(110, 145, 221);
    max-width: 100%;
    top: 5px;
    margin-left: -40px;
    
}

/* UV Index Color Reference: https://www.bloquv.com/uv-index/ */

.ok {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 5px 10px;
}

.moderate{
    display: inline-block;
    background-color: yellow;
    padding: 5px 10px;
}

.warning {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 5px 10px;
}

.danger {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 5px 10px;
}

.extreme {
    display: inline-block;
    background-color:purple;
    color: white;
    padding: 5px 10px;
}

#rowHeading {
    font-size: 18px;
    font-weight: bolder;
}

#city-info {
    background-color: #8ebce2 ;
}

.col-sm-2 {
    background-color:#8ebce2;
    font-size: 12.5px;
    font-weight: bolder;
    text-align: center;
    border: 2px solid rgb(99, 136, 184);
    border-radius: 5px;
    padding: 15px 10px;
    margin: 12px;
}

footer{
    background-color: #537fb3;
    color: whitesmoke;
    font-size: 15px;
    text-align: center;
    width: 100%;    
    left: 0px;
    padding: 10px;
    bottom: 0;
    position: absolute;
}